//COLORS
// $color-primary: #c21f71;
$color-primary: #c34640;
$color-secondary: #e87c76;
$color-light: #e2d5d5;
// $color-secondary: #ba6992;
// $color-blue: #3138c4;
$color-blue: #3166ac;
$color-white: #fff;
$color-black: #111;

//Dark theme
$color-dark-1: #17223b;
$color-dark-2: #263859;
$color-dark-3: #6b778d;
$color-dark-4: #84c9fb;
$color-dark-5: #ff6768;

$toggle-element-width: 1rem;
$toggle-element-height: 1rem;
