//COLORS
$color-primary: #c34640;
$color-secondary: #e87c76;
$color-light: #e2d5d5;
$color-btn-close: #1f499d;
$color-blue: #3166ac;
$color-white: #fff;
$color-black: #111;
$color-black-shape: rgb(33, 33, 33);
$color-background: rgba(248, 209, 190, 1);
$color-background-light: rgba(248, 209, 190, 0.95);
$color-background-stories: #fff2e5;
$color-btn-stories: rgba(73, 146, 219, 0.9);
$color-red: #f00;

//Dark theme
$color-dark-1: #17223b;
$color-dark-2: #263859;
$color-dark-3: #6b778d;
$color-dark-4: #84c9fb;
$color-dark-5: #ff6768;
$color-btn-border: #3587e0;
$color-btn-slider: #368897;
$color-btn-slider-arrow: #5ec9fd;
$color-alert-success: rgba(80, 116, 198, 0.8);
$color-wave-1: #2d8394;
$color-wave-2: #03647e;

$toggle-element-width: 1rem;
$toggle-element-height: 1rem;

$logo-margin-left: 5.5rem;
$section-title-padding-left: $logo-margin-left + 8rem;
$section-title-padding-top: 5rem;
