.footer {
  position: relative;

  min-height: 35vh;

  margin-top: 1rem;
  padding: 0 5rem;

  overflow: hidden;

  @include flex-center;
  align-items: flex-end;

  @include respond(phone) {
    height: 100%;

    padding: 0;

    align-content: flex-end;
  }

  &__box {
    position: relative;

    width: 90%;

    margin: 0 auto 5rem auto;

    @include flex-center;

    @include respond(tab-land) {
      width: 95%;
    }

    @include respond(tab-port) {
      display: grid;
      grid-template-columns: repeat(2, 1fr) min-content 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 1rem;
      justify-items: center;
    }

    @include respond(phone-bg) {
      grid-template-columns: min-content 1fr min-content 1fr;
    }

    @include respond(phone) {
      @include flex-center;
      justify-content: center;

      margin-bottom: 2rem;
    }

    @include respond(nokia3310) {
      flex-direction: column;
    }
  }

  &__logo {
    @include flex-center;

    @include respond(tab-port) {
      grid-row: 1 / -1;
    }

    @include respond(phone) {
      margin-top: 2rem;
      padding: 0;
    }

    &-img,
    &-imgDark {
      height: 7rem;
      width: 7rem;

      @include respond(tab-port) {
        height: 11rem;
      }

      @include respond(phone) {
        height: 8rem;
      }
    }

    &-img {
      .dark & {
        display: none;
      }
    }

    &-imgDark {
      display: none;

      .dark & {
        display: block;
      }
    }
  }

  &__nav {
    width: 60%;

    @include respond(tab-land2) {
      width: 66%;
    }

    @include respond(tab-port) {
      width: 100%;

      grid-row: 1 / -1;
      display: grid;
      justify-items: center;
    }

    @include respond(nokia3310) {
      width: 100%;
    }

    &-item {
      @include flex-center;

      @include respond(tab-port) {
        flex-direction: column;
        align-items: flex-start;
      }

      @include respond(phone) {
        @include flex-center;
        flex-direction: column;
      }
    }

    &-list {
      list-style: none;

      &:not(:last-child) {
        margin-right: 5rem;

        @include respond(tab-land) {
          margin-right: 1rem;
        }

        @include respond(tab-port) {
          margin-right: 0;
          margin-bottom: 2rem;
        }

        @include respond(phone) {
          margin-bottom: 1rem;
        }
      }
    }

    &-link {
      position: relative;

      font-size: 2rem;
      font-weight: 600;
      text-decoration: none;

      color: $color-black;

      overflow: hidden;
      transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.1rem;

        width: 100%;
        height: 3px;

        background-color: currentColor;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &-text {
        color: $color-black;

        .dark & {
          color: $color-dark-4;
        }
      }

      @include respond(nokia3310) {
        font-size: 1.5rem;
      }

      .dark & {
        color: $color-dark-4;
        backface-visibility: hidden;
      }
    }
  }

  &__line {
    height: 5rem;
    width: 0.2rem;

    background-color: $color-black;

    @include respond(tab-port) {
      grid-row: 1 / -1;
      height: 100%;
    }

    @include respond(phone) {
      display: none;
    }

    .dark & {
      background-color: $color-dark-4;
    }
  }

  &__icons {
    @include flex-center;
    justify-content: space-around;

    @include respond(tab-port) {
      grid-row: 1 / -1;
      flex-direction: column;
    }

    @include respond(phone) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      margin-top: 1rem;
      padding: 0;
    }
  }

  &__icon {
    &-item {
      position: relative;
      display: grid;
      place-items: center;

      overflow: hidden;

      transition: transform 0.35s ease;

      .social-icons {
        height: 2.5rem;
        width: 2.5rem;

        .dark & {
          fill: $color-dark-4;
        }
      }

      &:hover {
        transition: transform 0.35s ease;

        transform: scale(1.2);
      }

      &:nth-child(3) img {
        height: 1.95rem;
      }
    }

    &-item:not(:last-child) {
      margin-right: 5rem;

      @include respond(tab-land) {
        margin-right: 2rem;
      }

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: 2rem;
      }

      @include respond(phone) {
        margin: 0 1.2rem 0 0;
      }
    }
  }

  &__copyright {
    position: absolute;

    bottom: 1rem;
    right: 2rem;

    font-size: 1.4rem;

    .dark & {
      color: $color-dark-4;
    }

    @include respond(phone-bg) {
      right: 0;
    }

    @include respond(phone) {
      position: relative;

      display: block;

      width: 100%;

      right: 0;

      font-size: 1.2rem;
      text-align: center;
    }
  }
}

.parallax > use {
  animation: moveInfinite 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -1s;
  animation-duration: 51s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 53s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

.click-element {
  position: fixed;
  inset: 0;
  width: 100%;

  z-index: 1000;
  animation: dontClick 2.95s ease;
}

.click-img {
  width: 100%;
  height: 100%;
}
