.gallery {
  padding: 5rem 8rem 5rem 8rem;

  background: linear-gradient(
    to bottom,
    rgba(hsl(0, 19%, 87%), 3rem),
    transparent
  );

  .dark & {
    box-shadow: 0 -1rem 1rem #256474;

    background: linear-gradient(
      to bottom,
      rgba(hsl(192, 97%, 25%), 3rem),
      transparent
    );
  }

  @include respond(phone) {
    padding: 2rem 0;
  }

  &-box {
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-template-rows: 40rem auto;
    column-gap: 10rem;
    row-gap: 8rem;
    justify-items: center;

    margin: 0 auto;
    padding: 5rem 10rem 5rem 10rem;

    z-index: 0;

    @include respond(tab-port) {
      padding: 2rem 6rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      column-gap: 5rem;

      padding: 3rem 5rem;
    }

    @include respond(nokia3310) {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      row-gap: 6rem;

      padding: 2rem;
    }

    &__subtitle {
      font-size: 2rem;
      font-weight: 600;
      text-decoration: none;
      text-align: center;

      color: $color-black;

      transition: all 0.3s;

      .dark & {
        color: $color-dark-4;
      }

      @include respond(nokia3310) {
        font-size: 1.5rem;
      }
    }

    &__item {
      position: relative;
      display: flex;

      width: 100%;
      min-height: 40rem;

      @include respond(nokia3310) {
        min-height: 12rem;
      }

      &:hover .gallery-box__img:nth-child(1) {
        box-shadow: 1rem 1rem 1.5rem rgba($color-black, 0.3);

        transform: rotate(-14deg);
        transition: all 0.5s ease;
      }

      &:hover .gallery-box__img:nth-child(2) {
        box-shadow: 1rem 1rem 1.5rem rgba($color-black, 0.15);

        transform: rotate(6deg);
        transition: all 0.9s ease;
      }

      &:hover .gallery-box__img:nth-child(3) {
        box-shadow: 1rem 1rem 1.5rem rgba($color-black, 0.3);

        transform: rotate(-4deg);
      }

      &:nth-child(2) {
        &:hover .gallery-box__img:nth-child(1) {
          box-shadow: 1rem 1rem 1.5rem rgba($color-black, 0.3);

          transform: rotate(14deg);
          transition: all 0.5s ease;
        }

        &:hover .gallery-box__img:nth-child(2) {
          box-shadow: 1rem 1rem 1.5rem rgba($color-black, 0.15);

          transform: rotate(-6deg);
          transition: all 0.9s ease;
        }

        &:hover .gallery-box__img:nth-child(3) {
          box-shadow: 1rem 1rem 1.5rem rgba($color-black, 0.3);

          transform: rotate(4deg);
        }
      }

      &:nth-child(4) {
        &:hover .gallery-box__img:nth-child(1) {
          box-shadow: 1rem 1rem 1.5rem rgba($color-black, 0.3);

          transform: rotate(14deg);
          transition: all 0.5s ease;
        }

        &:hover .gallery-box__img:nth-child(2) {
          box-shadow: 1rem 1rem 1.5rem rgba($color-black, 0.15);

          transform: rotate(-6deg);
          transition: all 0.9s ease;
        }

        &:hover .gallery-box__img:nth-child(3) {
          box-shadow: 1rem 1rem 1.5rem rgba($color-black, 0.3);

          transform: rotate(4deg);
        }
      }
    }

    &__icon {
      width: 2rem;
      height: 2rem;

      margin: 0 0 0 0.5rem;
      fill: $color-black;

      transition: all 0.4s;

      .dark & {
        fill: $color-dark-4;
      }

      @include respond(nokia3310) {
        width: 1.4rem;
        height: 1.4rem;
      }
    }

    &__link {
      position: absolute;
      bottom: -5rem;
      left: 50%;
      transform: translateX(-50%);

      width: 100%;

      @include flex-center;
      justify-content: center;

      transition: all 0.4s;

      @include respond(nokia3310) {
        flex-wrap: nowrap;

        bottom: -4rem;
        line-height: 1;
      }
    }

    &__subtitle:hover ~ &__img {
      transform: scale(1.1);
    }

    &__subtitle:hover ~ &__icon {
      fill: $color-primary;
      transform: translateX(1rem);
      transition: all 0.4s;

      .dark & {
        fill: $color-dark-5;
        transition: all 0.5s;
      }
    }

    &__subtitle:hover {
      color: $color-primary;

      .dark & {
        color: $color-dark-5;
        transition: all 0.5s;
      }
    }

    &__imgs {
      height: 100%;
    }

    &__img {
      display: block;

      position: absolute;
      inset: 0;

      width: 100%;
      height: 100%;

      border: 1rem solid $color-white;
      border-radius: 1rem;

      box-shadow: 0.5rem 0.5rem 0.5rem rgba($color-black, 0.1);

      transition: all 0.3s;

      & > * {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: top;

        backface-visibility: hidden;
      }

      &:nth-child(1) {
        z-index: 3;
      }

      &:nth-child(2) {
        z-index: 1;
      }

      &:nth-child(3) {
        z-index: 2;
      }

      .dark & {
        border: 1rem solid $color-dark-2;

        transition: all 0.4s;
      }

      @include respond(nokia3310) {
        border: 0.5rem solid $color-white;
      }
    }
  }
}
