.header {
  position: relative;

  display: grid;
  grid-template-columns: 8rem repeat(12, 1fr) [last-col] 1fr;
  grid-template-rows: repeat(auto-fit, minmax(7rem, 1fr));
  gap: 1rem;

  box-shadow: inset 0 -1rem 0 hsl(0, 19%, 87%);

  overflow: hidden;
  backface-visibility: hidden;

  .dark & {
    background-image: url('../images/bg/background-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 -1rem 1rem #0f6d85 inset;
  }

  @media (max-width: 37.5em) and (min-resolution: 192dpi) {
    .dark & {
      background-image: url('../images/bg/background-dark-small.jpg');
    }
  }

  @include respond(phone) {
    grid-template-columns: 6rem 1fr;
    height: auto;
  }

  &__nav {
    @include flex-center;

    height: 7rem;

    grid-column: 4 / -1;
    grid-row: 1 / 2;

    margin-right: 3rem;

    border-bottom: 0.2rem solid #111;

    .dark & {
      border-bottom: 0.2rem solid $color-dark-4;
      transition: all 0.4s;
    }

    @include respond(tab-port) {
      display: none;
      justify-content: flex-start;
    }

    &-box {
      @include flex-center;
      flex: 1 1 0;
      margin-right: 5rem;

      @include respond(tab-land) {
        margin-right: 1rem;
      }
    }

    &-item {
      @include flex-center;
      width: 100%;

      list-style: none;
    }

    &-line {
      width: 0.2rem;
      height: 3rem;

      margin: 0 3rem;

      background-color: $color-black;

      .dark & {
        background-color: $color-dark-4;
        transition: all 0.4s;
      }

      @include respond(big-desktop) {
        margin: 0;
      }

      @include respond(tab-land) {
        margin: 0 1rem;
      }
    }

    &-list {
      position: relative;
    }

    &-link {
      position: relative;

      display: block;

      font-size: 1.8rem;
      text-decoration: none;

      color: rgba($color-black, 0.8);

      overflow: hidden;

      @include respond(big-fucking-desktop) {
        font-size: 2rem;
      }

      &--mask {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        overflow: hidden;

        transform: translate3d(-100%, 0, 0);
        transition: transform 0.7s ease;

        span {
          display: block;

          color: $color-blue;

          transform: translate3d(100%, 0, 0);
          transition: transform 0.7s ease;

          .header__nav-link:hover &,
          .header__nav-link:active & {
            transform: translate3d(0, 0, 0);
          }

          .dark & {
            color: $color-dark-5;
            transition: all 0.7s;
          }
        }

        .header__nav-link:hover &,
        .header__nav-link:active & {
          transform: translate3d(0, 0, 0);

          & ~ .fa-sort-down {
            color: $color-blue;

            .dark & {
              color: $color-dark-5;
            }
          }

          & ~ .fa-sort-up {
            color: $color-blue;

            .dark & {
              color: $color-dark-5;
            }
          }
        }
      }

      .dark & {
        color: $color-dark-4;
        transition: all 0.7s;
      }
    }

    &-list:nth-child(6) {
      padding-right: 0rem;
    }

    &-list-icon {
      position: relative;

      margin-right: 3rem;

      &:nth-child(3) img {
        height: 1.6rem;
      }
    }

    &-icons {
      @include flex-center;
      margin: 0 5rem;

      @include respond(tab-land) {
        margin: 0 0 0 1rem;
      }
    }

    &-icon {
      @include flex-center;
      padding: 1rem 0;

      .social-icons {
        height: 2rem;
        width: 2rem;

        fill: $color-black;

        transition: all 0.3s ease;

        .dark & {
          fill: $color-dark-4;
        }

        @include respond(big-fucking-desktop) {
          height: 2.1rem;
          width: 2.1rem;
        }
      }
    }

    &-icon:hover .social-icons {
      fill: $color-blue;

      transform: translateY(-0.5rem);

      .dark & {
        fill: $color-dark-5;
      }
    }

    &-icon:hover svg:not(.social-icons) {
      filter: brightness(200%);
      transition: filter 2s ease;
    }
  }
}

.logo-box {
  position: relative;

  grid-column: 2 / span 2;
  grid-row: 1 / span 4;

  @include flex-center;
  justify-content: center;

  margin-right: 8rem;

  @include respond(phone-bg) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }

  @include respond(phone) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
}

.fa-sort-down {
  transform: translateY(-0.3rem);
  transition: transform 0.4s, color 0.5s;
}

.fa-sort-up {
  transform: translateY(0.5rem);
  transition: transform 0.4s, color 0.5s;
}
