.interesting {
  padding: $section-title-padding-top $section-title-padding-left 5rem
    $section-title-padding-left;

  @include respond(tab-land) {
    padding: 0 8rem 5rem 8rem;
  }

  @include respond(phone) {
    padding: 0;
  }

  &-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    grid-auto-rows: minmax(40rem, min-content);
    justify-content: center;
    gap: 3rem;

    padding: 2rem 2rem 0.5rem 2rem;

    @include respond(tab-land) {
      gap: 8rem;
      padding: 2rem;
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
      gap: 5rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(34rem, 1fr));

      padding: 3rem 0 0 0;
    }

    @include respond(nokia3310) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, min-content);
      gap: 1rem;

      padding: 2rem 0 0 0;
    }
  }

  &-item {
    padding: 2rem 3rem;

    @include respond(tab-land3) {
      padding: 2rem 1rem;
    }

    @include respond(tab-land) {
      padding: 0;
    }

    @include respond(tab-port) {
      height: auto;
    }

    @include respond(phone) {
      height: auto;

      padding: 1rem 4.5rem;
    }

    @include respond(nokia3310) {
      margin-bottom: 1rem;
      padding: 1rem;
    }

    &__content {
      position: relative;
      @include flex-center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      gap: 6rem;

      height: 100%;

      padding: 3rem;

      border-radius: 1rem;

      background: transparent;

      box-shadow: 0px 45px 61px -37px rgba($color-black, 0.4);

      overflow: hidden;

      transition: all 0.5s;

      &::before {
        content: '';
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        z-index: -1;

        opacity: 0.2;

        backface-visibility: hidden;

        .dark & {
          opacity: 0.5;
          background-blend-mode: lighten;
        }
      }

      &--1::before {
        background: url('../images/interesting-preview/19.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 10%;
      }

      &--2::before {
        background: url('../images/interesting-preview/11.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 10%;
      }

      &--3::before {
        background: url('../images/interesting-preview/28.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 10%;
      }

      &::after {
        content: '';
        position: absolute;
        top: -120%;
        left: -2rem;

        width: 200%;
        height: 100%;

        background: linear-gradient(
          to top,
          transparent,
          $color-white 15%,
          rgba($color-white, 0.5)
        );

        opacity: 0.2;

        transform: rotate(45deg);
        transition: top 0.5s, left 0.5s;
      }

      &:hover {
        box-shadow: 0 48px 71px 3px rgba(#000, 0.2);

        transform: translate3d(0, -3px, 0) scale(1.048) rotateX(15deg);
      }

      &:hover::after {
        top: -40%;
        left: 0;

        transform: rotate(25deg);
        opacity: 0.25;
      }

      &-text {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        row-gap: 1rem;

        transition: transform 0.2s linear, filter 0.3s, zoom 0.2s;
        will-change: transform;
      }

      &:hover &-text,
      &:hover &-link {
        transform: translate3d(0, -3px, 0) scale(1.048) rotateX(15deg);
        filter: blur(0);
      }

      @include respond(phone) {
        gap: 2rem;
        padding: 2rem;
      }

      @include respond(nokia3310) {
        padding: 1rem;
      }

      &-title {
        grid-column: 1;
        grid-row: 1;

        font-size: 3rem;
        line-height: 1.2;

        @include respond(nokia3310) {
          font-size: 1.7rem;
        }
      }

      &-paragraphe {
        grid-column: 1;
        grid-row: 2;

        font-size: 1.6rem;
        font-weight: 400;

        @include respond(nokia3310) {
          margin-bottom: 1rem;
          font-size: 1.3rem;
        }
      }

      &-link {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;

        transition: transform 0.2s linear;

        @include respond(nokia3310) {
          grid-template-columns: 1fr max-content;
        }

        a {
          grid-column: 1;
          grid-row: 1;

          font-size: 1.6rem;
          text-decoration: none;

          color: $color-black;

          transition: all 0.3s;

          .dark & {
            color: $color-dark-4;
          }

          @include respond(nokia3310) {
            font-size: 1.3rem;
          }
        }
      }

      &-link a:hover ~ .gallery-box__icon {
        fill: $color-primary;
        transform: translateX(2rem);

        .dark & {
          fill: $color-dark-5;
          transition: all 0.5s;
        }
      }

      &-link a:hover {
        transform: translateX(1rem);
        color: $color-secondary;
      }

      .dark & {
        color: $color-dark-4;
        background: transparent;

        transition: all 0.5s;
      }
    }

    &__view {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;

      font-size: 1.8rem;

      padding-left: 8rem;

      @include respond(tab-land3) {
        padding-left: 6rem;
      }

      @include respond(tab-land) {
        padding-left: 5rem;
      }

      @include respond(phone) {
        margin-top: 1rem;
        padding-left: 6.5rem;
      }

      @include respond(nokia3310) {
        margin-top: 0;
        padding-left: 2rem;
        font-size: 1.3rem;
      }
    }

    &__link {
      grid-column: 1;
      grid-row: 1;

      text-decoration: none;

      color: $color-black;

      transition: all 0.3s;

      &:hover {
        transform: translateX(1rem);
        color: $color-secondary;

        .dark & {
          color: $color-dark-5;
          transition: all 0.5s;
        }
      }

      &:hover ~ .gallery-box__icon {
        fill: $color-primary;
        transform: translateX(2rem);

        .dark & {
          fill: $color-dark-5;
          transition: all 0.5s;
        }
      }

      .dark & {
        color: $color-dark-4;
        transition: all 0.5s;
      }
    }
  }
}
