.video-gallery {
  position: relative;

  padding: $section-title-padding-top $section-title-padding-left 6rem
    $section-title-padding-left;

  @include respond(tab-land) {
    padding: $section-title-padding-top 8rem 6rem 8rem;
  }

  @include respond(tab-port) {
    margin-bottom: 0;
    padding: 2rem 0.5rem;
  }

  @include respond(phone) {
    padding: 5rem 0.5rem;
  }

  @include respond(nokia3310) {
    padding: 3rem 0.5rem;
  }
}
