.btn {
  &,
  &:link,
  &:visited {
    position: relative;

    display: inline-block;

    padding: 0 5rem;
    padding-top: 1.9rem;
    padding-bottom: 1.6rem;

    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;

    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.3rem;
    line-height: 1;

    cursor: pointer;
    border-bottom: 0.3rem solid $color-blue;

    color: $color-blue;

    overflow: hidden;
    backface-visibility: hidden;

    transition: border-radius 0.8s ease, color 1.2s; // color

    @include respond(phone) {
      padding: 1.2rem 4rem 0.9rem 4rem;

      margin-bottom: 2rem;
    }

    @include respond(nokia3310) {
      font-size: 1.4rem;
      padding: 1rem 3rem 0.7rem 3rem;
    }

    .dark & {
      color: $color-dark-4;
      border-bottom: 0.3rem solid $color-btn-border;
    }
  }

  &-send {
    border: none;
    outline: none;
    background: none;

    &:focus {
      outline-style: revert;
    }
  }

  &-box {
    backface-visibility: hidden;

    @include respond(phone) {
      text-align: center;
    }
  }

  &__blobs {
    width: 100%;
    height: 100%;

    position: absolute;

    top: 90%;
    left: 0;
    right: -1rem;

    z-index: -1;

    &--en {
      filter: url(#goo-eng);
      -webkit-filter: url(#goo-eng);
    }

    &--rus {
      top: 92%;
      filter: url(#goo-rus);
      -webkit-filter: url(#goo-rus);
    }

    span {
      position: absolute;

      width: 34%;
      height: 100%;

      border-radius: 100%;

      background-color: $color-blue;

      transform: scale(1.5) translateY(25%) translateZ(0);
      transition: all 0.7s cubic-bezier(0.35, 0.72, 0.95, 0.93);
      will-change: transform;

      &:nth-child(1) {
        left: -5%;
      }

      &:nth-child(2) {
        left: 30%;
        transition-delay: 0.08s;
      }

      &:nth-child(3) {
        left: 66%;
        transition-delay: 0.025s;
      }

      .dark & {
        background-color: $color-btn-border;
      }
    }
  }

  &:hover {
    color: $color-white;

    border-radius: 1rem;
    overflow: hidden;

    .btn__blobs {
      span {
        transform: scale(1.6) translateY(-3rem) translateZ(0);

        @include respond(phone) {
          transform: scale(1.6) translateY(-2rem) translateZ(0);
        }

        @include respond(nokia3310) {
          transform: scale(1.6) translateY(-1.2rem) translateZ(0);
        }
      }
    }
  }

  &-story,
  &-story--2 {
    font-size: 1.6rem;

    padding: 0.5em 2em;

    color: $color-white;
    background-color: $color-btn-stories;

    border: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    .dark & {
      color: $color-dark-4;
      background-color: $color-dark-1;
    }
  }
}

.btn-back {
  &,
  &:link,
  &:visited {
    display: inline-block;

    position: absolute;

    width: 13rem;
    height: 9rem;

    color: $color-white;
    background: none;

    border: none;
    cursor: pointer;

    a {
      display: block;

      height: 100%;

      @include flex-center;
      justify-content: center;

      font-size: 1.2rem;
      font-family: inherit;
      font-weight: 500;
      text-decoration: none;

      mix-blend-mode: difference;
      color: $color-white;

      transition: transform 0.3s ease;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      backface-visibility: hidden;
    }

    &::before {
      background: $color-background;
      background-size: cover;
      background-repeat: no-repeat;

      clip-path: ellipse(38% 34% at 50% 50%);

      transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55),
        -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55),
        background 0.5s ease;

      .dark & {
        background: $color-dark-4;
      }
    }

    &::after {
      height: 66%;
      width: 75%;

      top: 12%;
      left: 10%;

      border-radius: 58% 51% 55% 45% / 56% 45% 55% 44%;
      border: 1px solid $color-blue;

      transform: rotate(-20deg);
      z-index: -1;
      transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);

      .dark & {
        border: 1px solid $color-dark-3;
      }
    }

    &:hover a {
      color: $color-white;
      transform: translate3d(0, -0.2rem, 0);
    }

    &:hover::before {
      background: $color-dark-2;
      clip-path: ellipse(37% 30% at 46% 48%);

      .dark & {
        background: $color-dark-1;
      }
    }

    &:hover::after {
      transform: translate3d(-0.2rem, 0.3rem, 0);

      .dark & {
        border: 1px solid $color-dark-5;
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.btn-toggle {
  &,
  &:link,
  &:visited {
    position: absolute;
    top: 1rem;
    left: 3rem;
    width: 15rem;
    height: 15rem;

    @include respond(phone) {
      width: 8rem;
      height: 8rem;
      top: 1rem;
      left: 0;
    }
  }

  &:focus {
    outline: none;
  }
}

/* SLIDER */

.slider__btn-box {
  @include abs-center;
  width: 100%;

  @include respond(phone) {
    position: relative;

    display: flex;
    justify-content: center;

    margin-top: 6rem;
  }
}

.slider__btn {
  &,
  &:link,
  &:visited {
    position: absolute;

    top: 50%;

    width: 8rem;
    height: 8rem;

    padding: 1rem;

    cursor: pointer;

    border: none;
    outline: none;

    background: none;

    transform: translate(0, -50%);

    @include respond(phone) {
      position: relative;
      top: 0;
      left: 0;
      right: 0;

      width: 6rem;
      height: 6rem;
      padding: 0;

      transform: translate(0, 0);
    }

    span {
      svg {
        &:nth-of-type(1) {
          fill: $color-light;
          opacity: 1;
          animation: btnRightRotate 20s ease-in-out infinite;

          .dark & {
            fill: $color-btn-slider;
          }

          @include respond(phone) {
            width: 4rem;
            height: 4rem;
          }
        }

        &:nth-of-type(2) {
          width: 7rem;
          height: 7rem;

          fill: $color-light;

          opacity: 0.6;

          animation: btnLeftRotate 20s ease-in-out infinite;

          .dark & {
            fill: $color-btn-slider;
          }

          @include respond(phone) {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }

  &:focus {
    outline: none;
  }

  &--left {
    left: calc((100vw - 90rem) / 3);

    &:active span svg:nth-of-type(3) {
      transform: translate(-50%, -50%) rotate(20deg);
    }

    @include respond(tab-land2) {
      left: 9rem;
    }

    @include respond(tab-land) {
      left: 0;
    }

    @include respond(tab-port) {
      left: 1rem;
    }

    @include respond(phone) {
      left: 0;
      margin-right: 0.6rem;
    }
  }

  &--right {
    right: calc((100vw - 90rem) / 3);

    &:active span svg:nth-of-type(3) {
      transform: translate(-50%, -53%) rotate(-20deg);
    }

    @include respond(tab-land2) {
      right: 9rem;
    }

    @include respond(tab-land) {
      right: 0;
    }

    @include respond(tab-port) {
      right: 1rem;
    }

    @include respond(phone) {
      right: 0;
    }
  }

  span {
    position: relative;

    width: 100%;
    height: 100%;

    @include flex-center;
    justify-content: center;

    transition: all 0.5s;

    svg {
      @include abs-center;
      width: 100%;
      height: 100%;

      &:nth-of-type(3) {
        width: 3.2rem;
        height: 3.2rem;
        fill: $color-black;
        transition: all 0.5s ease-in-out;

        .dark & {
          fill: $color-btn-slider-arrow;
        }
      }
    }
  }
}
