.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    // min-width: 20rem;
    // height: 8rem;

    padding: 0 5rem;
    padding-top: 1.9rem;
    padding-bottom: 1.6rem;

    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;

    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.3rem;
    line-height: 1;

    cursor: pointer;
    border-bottom: 0.3rem solid $color-blue;
    color: $color-blue;
    overflow: hidden;
    backface-visibility: hidden;
    transition: border-radius 0.8s ease, color 1.2s; // color

    @include respond(phone) {
      padding: 1.2rem 4rem 0.9rem 4rem;

      margin-bottom: 2rem;
    }

    @include respond(nokia3310) {
      font-size: 1.4rem;
      padding: 0.7rem 2rem 0.3rem 2rem;
    }

    .dark & {
      color: $color-dark-4;
      border-bottom: 0.3rem solid $color-dark-5;
    }
  }

  &-send {
    border: none;
    outline: none;
    background: none;
  }

  &-box {
    backface-visibility: hidden;

    @include respond(phone) {
      text-align: center;
    }
  }

  &__blobs {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    top: 90%;
    right: -1rem;

    filter: url(#goo);

    z-index: -1;

    span {
      position: absolute;
      width: 34%;
      height: 100%;
      border-radius: 100%;
      background-color: $color-blue;
      transform: scale(1.5) translateY(25%) translateZ(0);
      transition: all 0.7s cubic-bezier(0.35, 0.72, 0.95, 0.93);

      &:nth-child(1) {
        left: -5%;
      }

      &:nth-child(2) {
        left: 30%;
        transition-delay: 0.08s;
      }

      &:nth-child(3) {
        left: 66%;
        transition-delay: 0.025s;
      }

      .dark & {
        background-color: $color-dark-5;
      }
    }
  }

  &:hover {
    color: $color-white;
    border-radius: 1rem;
    overflow: hidden;

    .btn__blobs {
      span {
        transform: scale(1.6) translateY(-3rem) translateZ(0);

        @include respond(phone) {
          transform: scale(1.6) translateY(-2rem) translateZ(0);
        }

        @include respond(nokia3310) {
          transform: scale(1.6) translateY(-1.2rem) translateZ(0);
        }
      }
    }

    .dark & {
      color: $color-dark-1;
    }
  }

  &-story,
  &-story--2 {
    // position: absolute;
    // top: 10%;
    // left: 50%;
    // transform: translateX(-50%);
    padding: 0.5em 2em;
    color: $color-white;
    background-color: rgba(73, 146, 219, 0.9);
    border: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    .dark & {
      color: $color-dark-4;
      background-color: $color-dark-1;
    }
  }
}

.btn-back {
  &,
  &:link,
  &:visited {
    display: inline-block;
    position: absolute;
    // top: 2rem;
    // left: 1rem;
    width: 13rem;
    height: 9rem;
    // margin-top: -1rem;
    // padding: 1.5rem 3rem;
    color: $color-white;
    background: none;
    border: none;
    cursor: pointer;
    // background-color: salmon;

    a {
      display: block;
      height: 100%;
      @include flex-center;
      justify-content: center;
      font-size: 1.2rem;

      font-family: inherit;
      font-weight: 500;
      text-decoration: none;
      mix-blend-mode: difference;
      color: $color-white;
      transition: transform 0.3s ease;
      // z-index: 30;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &::before {
      // background: $color-white;
      background: rgba(248, 209, 190, 1);
      background-size: cover;
      background-repeat: no-repeat;
      clip-path: ellipse(38% 34% at 50% 50%);

      // clip-path: path(
      //   'M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z'
      // );

      transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55),
        -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55),
        background 0.5s ease;

      .dark & {
        background: $color-dark-4;
      }
    }

    &::after {
      height: 66%;
      width: 75%;
      top: 12%;
      left: 10%;
      border-radius: 58% 51% 55% 45% / 56% 45% 55% 44%;
      border: 1px solid $color-blue;
      transform: rotate(-20deg);
      z-index: -1;
      transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);

      .dark & {
        border: 1px solid $color-dark-3;
      }
    }

    &:hover a {
      color: $color-white;
      transform: translate3d(0, -0.2rem, 0);
    }

    &:hover::before {
      background: $color-dark-2;
      clip-path: ellipse(37% 30% at 46% 48%);
      // clip-path: path(
      //   'M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z'
      // );

      .dark & {
        background: $color-dark-1;
      }
    }

    &:hover::after {
      transform: translate3d(-0.2rem, 0.3rem, 0);

      .dark & {
        border: 1px solid $color-dark-5;
      }
    }

    @include respond(phone) {
      // padding: 0;
      // width: 10rem;
      // height: 6rem;
    }
  }
}

.btn-toggle {
  &,
  &:link,
  &:visited {
    position: absolute;
    top: 1rem;
    left: 3rem;
    width: 15rem;
    height: 15rem;
    // @include flex-center;

    @include respond(phone) {
      width: 8rem;
      height: 8rem;
      top: 1rem;
      left: 0;
    }
  }
}

/* SLIDER */

.slider__btn-box {
  @include abs-center;
  width: 100%;
  // height: 100%;
  // padding: 0 2rem;
  @include respond(phone) {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }
}

.slider__btn {
  &,
  &:link,
  &:visited {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    border: none;
    background: none;
    outline: none;

    @include respond(phone) {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      transform: translate(0, 0);
      width: 6rem;
      height: 6rem;
      padding: 0;
    }

    span {
      svg {
        &:nth-of-type(1) {
          // filter: invert(89%) sepia(34%) saturate(230%) hue-rotate(11deg)
          //   brightness(101%) contrast(98%);
          fill: $color-light;
          opacity: 1;
          animation: btnRightRotate 20s ease-in-out infinite;

          .dark & {
            fill: #368897;
            // filter: invert(45%) sepia(97%) saturate(1479%) hue-rotate(194deg)
            //   brightness(94%) contrast(112%);
          }
        }

        &:nth-of-type(2) {
          width: 7rem;
          height: 7rem;
          // filter: invert(89%) sepia(34%) saturate(65%) hue-rotate(11deg)
          //   brightness(101%) contrast(98%);
          fill: $color-light;
          opacity: 0.6;
          animation: btnLeftRotate 20s ease-in-out infinite;

          .dark & {
            // filter: invert(45%) sepia(97%) saturate(1479%) hue-rotate(194deg)
            //   brightness(94%) contrast(112%);
            fill: #368897;
          }

          @include respond(phone) {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }

  &--left {
    left: calc((100vw - 100rem) / 5);

    &:active span svg:nth-of-type(3) {
      transform: translate(-50%, -50%) rotate(20deg);
    }

    @include respond(tab-land3) {
      left: 0;
    }

    @include respond(tab-land2) {
      left: -5rem;
    }

    @include respond(tab-land) {
      left: -7.2rem;
    }

    @include respond(tab-port) {
      left: 1rem;
    }

    @include respond(phone) {
      left: 0;
      margin-right: 0.6rem;
    }
  }

  &--right {
    right: calc((100vw - 100rem) / 5);

    &:active span svg:nth-of-type(3) {
      transform: translate(-50%, -53%) rotate(-20deg);
    }

    @include respond(tab-land3) {
      right: 0;
    }

    @include respond(tab-land2) {
      right: -5rem;
    }

    @include respond(tab-land) {
      right: -7.2rem;
    }

    @include respond(tab-port) {
      right: 1rem;
    }

    @include respond(phone) {
      right: 0;
    }
  }

  span {
    @include flex-center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    transition: all 0.5s;

    svg {
      @include abs-center;
      width: 100%;
      height: 100%;

      &:nth-of-type(3) {
        width: 3.2rem;
        height: 3.2rem;
        fill: $color-black;
        transition: all 0.5s ease-in-out;

        .dark & {
          fill: #5ec9fd;
          // filter: invert(45%) sepia(97%) saturate(1479%) hue-rotate(194deg)
          //   brightness(124%) contrast(112%);
        }
      }
    }
  }
}
