.form {
  position: relative;

  background-image: linear-gradient(
    to bottom right,
    rgba($color-blue, 0.2),
    rgba($color-primary, 0.2)
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;

  width: 100%;

  padding: 3rem;
  border-radius: 3rem;

  @include respond(tab-port) {
    width: 70%;
    margin: 0 auto;
  }

  @include respond(phone) {
    @include flex-center;
    flex-direction: column;
    justify-content: center;

    width: 85%;

    padding: 2rem 0.5rem 0 0.5rem;
  }

  @include respond(nokia3310) {
    width: 100%;
  }

  &__group {
    position: relative;

    padding: 1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
      padding-top: 2rem;

      @include respond(phone) {
        width: 80%;
      }

      @include respond(nokia3310) {
        width: 100%;
        margin-bottom: 0;
      }
    }

    @include respond(phone) {
      width: 100%;

      @include flex-center;
      flex-direction: column;
      justify-content: center;

      padding: 0 0.5rem;
    }

    @include respond(nokia3310) {
      padding: 0.5rem 0;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;

    width: clamp(20rem, 80%, 45rem);

    padding: 1rem;

    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.6;

    border: none;
    border-radius: 0.5rem;
    border-bottom: 0.2rem solid transparent;

    transition: all 0.5s ease-in-out;

    &:focus {
      outline: none;

      box-shadow: 0 1rem 1rem rgba($color-blue, 0.2);
      border-bottom: 0.2rem solid $color-blue;

      transition: all 0.5s ease-in-out;
    }

    &::-webkit-input-placeholder {
      color: rgba($color-black, 0.2);

      .dark & {
        color: $color-dark-4;
        transition: all 0.4s ease-in-out;
      }
    }

    .dark & {
      background-color: $color-dark-1;
      color: $color-dark-4;
      transition: all 0.4s ease-in-out;
    }

    @include respond(phone) {
      width: 100%;
    }

    @include respond(nokia3310) {
      font-size: 1.2rem;
    }
  }

  &__group.error input,
  &__group.error textarea {
    border: 1px solid $color-primary;
  }

  &__group.error label {
    color: $color-primary;

    transform: translateY(0);

    visibility: visible;

    opacity: 1;

    .dark & {
      color: $color-dark-5;
    }
  }

  &__group.success label {
    transform: translateY(-4.8rem);

    visibility: hidden;

    opacity: 0;
  }

  &__group.success input,
  &__group.success textarea {
    border: 1px solid $color-blue;
  }

  &__label {
    position: relative;

    display: inline-block;

    margin-top: 0.6rem;
    margin-left: 1rem;

    font-size: 1.6rem;

    color: $color-primary;

    overflow: hidden;

    transition: all 0.3s;

    span {
      position: absolute;
      top: 0;
      left: 0;

      color: $color-blue;
    }

    .dark & {
      color: $color-dark-5;
    }

    @include respond(nokia3310) {
      font-size: 1.2rem;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;

    transform: translateY(-4.8rem);
  }

  &__input:placeholder-shown + &__label.label-visible {
    opacity: 1;
    visibility: visible;

    transform: translateY(0);
  }

  .dark & {
    background-image: linear-gradient(
      to bottom right,
      rgba($color-dark-2, 0.7),
      rgba($color-dark-1, 0.1)
    );
    box-shadow: 0 0px 0.6px rgba($color-blue, 0.036),
      0 0px 1.3px rgba($color-blue, 0.052), 0 0px 2.1px rgba($color-blue, 0.065),
      0 0px 3.3px rgba($color-blue, 0.075), 0 0px 4.9px rgba($color-blue, 0.085),
      0 0px 7.1px rgba($color-blue, 0.095),
      0 0px 10.7px rgba($color-blue, 0.108),
      0 0px 17.1px rgba($color-blue, 0.124), 0 0px 32px rgba($color-blue, 0.16);
  }
}

.falling {
  animation: feather 2s ease-in-out 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

.falling1 {
  animation: feather1 1.6s ease-in-out 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

.falling2 {
  animation: feather2 1.2s ease-in-out 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

.falling3 {
  animation: feather3 0.6s ease-in-out;
  animation-delay: 1.1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

#header .falling4 {
  animation: feather4 1s ease-in-out;
  animation-delay: 1.8s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

.falling5 {
  animation: feather5 1.95s ease-in-out;
  animation-delay: 2.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

.falling6 {
  animation: feather6 1.95s ease-in-out;
  animation-delay: 3s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

.falling7 {
  animation: feather7 1.95s ease-in-out;
  animation-delay: 3.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

.alert-success,
.alert-error {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;

  &__close {
    position: absolute;
    top: 0;
    right: 0;

    padding: 1rem;

    cursor: pointer;

    border-bottom-left-radius: 1.4rem;

    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));

    @include respond(nokia3310) {
      padding: 0.5rem;
    }
  }

  & div {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 34rem;
    min-width: 18rem;
    height: 23vh;

    margin: 0 1rem;
    padding: 2rem 4rem;

    font-size: 1.8rem;

    border-radius: 1.4rem;

    opacity: 0.8;

    overflow: hidden;

    mask-image: radial-gradient(circle, white, black);
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);

    @include respond(nokia3310) {
      padding: 2rem 1rem;
    }
  }
}

.alert-success {
  background: rgba($color-light, 0.5);

  .dark & {
    background: rgba($color-dark-1, 0.6);
  }

  &__close {
    background: $color-dark-4;

    .dark & {
      background: $color-dark-2;
    }
  }

  & div {
    background: $color-blue;
    color: $color-white;

    .dark & {
      background: $color-alert-success;
    }
  }
}

.alert-error {
  background: rgba($color-light, 0.9);

  .dark & {
    background: rgba($color-dark-1, 0.7);
  }

  &__close {
    background: $color-secondary;

    .dark & {
      background: $color-dark-3;
      color: $color-white;
    }
  }

  & div {
    background: $color-primary;
    color: $color-white;

    .dark & {
      background: $color-dark-5;
    }
  }
}
