:root:lang(en) {
  --menu-gallery: 'Gallery';
  --menu-interesting: 'It is interesting...';
  --menu-video: 'Video';
  --menu-contacts: 'Contact';
  --menu-language: 'Change language';
}

:root:lang(ru) {
  --menu-gallery: 'Галерея';
  --menu-interesting: 'Это интересно...';
  --menu-video: 'Видео';
  --menu-contacts: 'Контакты';
  --menu-language: 'Сменить язык';
}

.toggle-btn {
  position: absolute;
  top: 0;
  right: 0;

  display: none;
}

.toggle-icon {
  display: none;

  position: absolute;
  top: 2rem;
  right: 2rem;

  width: $toggle-element-width * 4.5;
  height: $toggle-element-height * 3;

  background: transparent;

  border-bottom: 0.2rem solid $color-black;

  cursor: pointer;

  z-index: 36;

  transition: all 0.6s ease-in-out;

  @include respond(tab-port) {
    display: block;
    @include flex-center;
  }

  @include respond(phone) {
    width: $toggle-element-width * 3.5;
    height: $toggle-element-height * 2.5;

    top: 2rem;
    right: 1.5rem;
  }

  span {
    width: $toggle-element-width;
    height: $toggle-element-height;

    background-color: $color-black;

    transition: all 0.7s;

    @include respond(phone) {
      width: $toggle-element-width * 0.8;
      height: $toggle-element-height * 0.8;
    }
  }

  &.scrolled {
    @include flex-center;
    position: fixed;

    animation: toggleBtnMove 0.6s ease-in-out;

    @include respond(nokia3310) {
      top: 2rem;
    }
  }
}

.scrollItem {
  @include flex-center;
  position: fixed;

  animation: toggleBtnMove 0.6s ease-in-out;

  z-index: 40;

  @include respond(nokia3310) {
    top: 2rem;
  }
}

.toggle-icon:checked + .toggle-nav,
.toggle-btn:checked + .toggle-nav {
  transform: translateX(0);
  opacity: 1;
}

.toggle-icon:checked ~ .toggle-icon span,
.toggle-btn:checked ~ .toggle-icon span {
  transform: rotate(135deg);
  transition: all 0.7s;

  &:nth-child(1) {
    background-color: $color-secondary;
  }

  &:nth-child(2) {
    background-color: $color-blue;
  }

  &:nth-child(3) {
    background-color: $color-primary;
  }
}

.dark .toggle-icon {
  border-bottom: 0.2rem solid $color-dark-4;

  span {
    background-color: $color-dark-4;
  }
}

.toggle-menu {
  position: fixed;
  top: 0;
  right: 0;

  background-color: $color-white;
  border-bottom-left-radius: 0.3rem;
  box-shadow: 1rem 1rem 2rem rgba($color-black, 0.3);

  opacity: 0;
  z-index: 30;

  transform: translateY(-120%);
  transition: all 0.8s ease;

  &-sunmoon {
    position: absolute;
    top: 2rem;
    left: 2rem;

    width: 3rem;
    height: 3rem;

    &:hover svg {
      filter: brightness(200%);
      transition: filter 2s ease;
    }
  }

  &-sunmoon--header {
    position: absolute;
    top: -0.1rem;
    left: 0;

    width: 2.2rem;
    height: 2.2rem;
  }

  &-sunmoon--portrait {
    position: absolute;
    top: 3rem;
    left: 13.5rem;

    @include respond(nokia3310) {
      top: 1.8rem;
      left: 9rem;
    }
  }

  &-sun,
  &-moon {
    position: absolute;

    fill: rgba($color-primary, 0.8);
    cursor: pointer;

    transition: all 0.4s;

    @include respond(nokia3310) {
      height: 2.5rem;

      top: 3%;
      left: 10%;
    }
  }

  &-sun {
    opacity: 1;
  }

  &-moon {
    opacity: 0;
  }
}

.dark .toggle-menu {
  background-color: $color-dark-1;
  transition: all 0.7s;
}

.dark .toggle-menu-sun {
  opacity: 0;
  transform: rotate(180deg);
}

.dark .toggle-menu-moon {
  opacity: 1;
  transform: rotate(360deg);
  fill: $color-dark-4;
}

.toggle-nav {
  @include flex-center;
  flex-direction: column;
  align-items: flex-end;

  width: 100%;
  height: 100%;

  margin-top: 6rem;
  padding: 0.5rem 1.5rem 2rem 4rem;

  transition: all 2s ease-in;

  @include respond(phone) {
    margin-top: 5rem;
  }

  @include respond(nokia3310) {
    padding: 0.5rem 1rem 2rem 2rem;
  }

  &-active {
    opacity: 1;
    transform: translateX(0%);
  }

  &__list {
    list-style: none;

    opacity: 0;

    transform: translateX(200%);

    overflow: hidden;

    & a.menu-interesting::before {
      content: var(--menu-interesting);
    }

    & a.menu-video::before {
      content: var(--menu-video);
    }

    & a.menu-gallery::before {
      content: var(--menu-gallery);
    }

    & a.menu-contacts::before {
      content: var(--menu-contacts);
    }

    & a.menu-language::before {
      content: var(--menu-language);
    }

    &:nth-of-type(1) {
      transition: all 0.5s;
    }

    &:nth-of-type(2) {
      transition: all 0.6s;
    }

    &:nth-of-type(3) {
      transition: all 0.7s;
    }

    &:nth-of-type(4) {
      transition: all 0.8s;
    }

    &:nth-of-type(5) {
      transition: all 0.9s;
    }
  }

  &__link {
    position: relative;

    padding: 0.7rem 0;

    font-size: 1.5rem;
    line-height: 4.2rem;

    text-decoration: none;

    color: $color-black;

    transition: color 0.4s ease-in, opacity 0.4s ease-in-out 1s,
      transform 0.7s 1s;

    @include respond(nokia3310) {
      font-size: 1.3rem;
      line-height: 3.5rem;
    }

    .dark & {
      color: $color-dark-4;
      transition: all 0.4s;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 90%;
      left: 0;
      width: 0;
      height: 0.2rem;

      background-color: $color-primary;

      transition: all 0.3s;
    }

    &:hover .link-graphic {
      transform: translate3d(66.6%, 0, 0);
      transition: all 0.7s;
      opacity: 1;
    }
  }
}

.toggle-icon:checked ~ .toggle-menu,
.toggle-btn:checked ~ .toggle-menu {
  transform: translateY(0);
  opacity: 1;

  #toggle-nav .toggle-nav__list {
    transform: translateX(0);
    transition: opacity 0.4s ease-in-out 1s, transform 0.8s 1s;
    opacity: 1;

    &:nth-of-type(1) {
      transition-delay: 0.2s;
    }

    &:nth-of-type(2) {
      transition-delay: 0.55s;
    }

    &:nth-of-type(3) {
      transition-delay: 0.9s;
    }

    &:nth-of-type(4) {
      transition-delay: 1.2s;
    }

    &:nth-of-type(5) {
      transition-delay: 1.4s;
    }
  }
}

.link-graphic {
  position: absolute;

  top: 0.3rem;
  left: -200%;

  stroke: #000;
  fill: none;
  stroke-width: 2px;
  pointer-events: none;
  opacity: 0;

  transition: all 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);

  .dark & {
    stroke: $color-dark-5;
  }
}

.dark .active span:nth-child(1) {
  background-color: $color-dark-3;
}

.dark .active span:nth-child(2) {
  background-color: $color-dark-5;
}

.dark .active span:nth-child(3) {
  background-color: $color-dark-4;
}

.hidden {
  display: none;

  transform: translateY(-40rem);
  transition: all 1.5s;
}

.transforming {
  position: absolute;
  top: -120%;
  right: 0;
}

.toggle-scroll {
  position: fixed;
  right: 2rem;
  bottom: 5.2rem;

  visibility: hidden;
  opacity: 0;

  @include respond(phone) {
    bottom: 2rem;
    right: 1.5rem;
  }

  &.active-scroll {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    animation: scrollBtn 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
  }

  &.hidden-scroll {
    visibility: visible;
    opacity: 1;
    animation: scrollBtnBack 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0.4rem;

    transform: rotate(45deg);

    border-right: none;
    border-bottom: none;

    &:hover .toggle-scroll__item {
      animation: moveBackground 12s ease-out infinite;
    }
  }

  &__item {
    width: 1rem;
    height: 1rem;

    background: $color-black;

    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      visibility: hidden;
    }

    .dark & {
      background: $color-dark-4;
    }

    @include respond(nokia3310) {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}
