.waves {
  position: absolute;
  width: 100%;
  height: clamp(18rem, 25vh, 45rem);
  bottom: 0;
  left: 0;
  overflow: hidden;

  @include respond(phone) {
    width: 200%;
  }

  .dark & stop:nth-child(1) {
    stop-color: $color-wave-1;
  }

  .dark & stop:nth-child(2) {
    stop-color: $color-wave-2;
  }
}

.wave {
  position: absolute;
  bottom: -0.3rem;

  width: 640rem;
  height: 18rem;

  background: url('../images/wave/wave2.svg');
  background-repeat: repeat-x;

  opacity: 1;

  transform: translate3d(0, 0, 0);
  animation: waveMove 55s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;

  .dark & {
    background: url('../images/wave/wave1.svg');
    background-repeat: repeat-x;
    background-size: auto;
  }
}

.wave:nth-of-type(2) {
  margin-bottom: -2.5rem;
  opacity: 0.8;
  animation: waveMove1 55s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.225s infinite,
    waveMove2 55s ease 0.75s infinite;
}

.footer-waves {
  height: 40vh;
}

.footer-wave {
  height: 35rem;
  background-size: 160rem 34rem;
  background-repeat: repeat-x;
}
