:root {
  scrollbar-color: $color-primary $color-blue;
  scrollbar-width: thin;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: linear-gradient(20deg, $color-blue, $color-blue, $color-dark-4);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    transparent,
    $color-dark-5,
    transparent
  );
}

section {
  transition: all 0.8s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}
