body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.65),
      rgba(#fbfaf7, 0.4)
    ),
    url('../images/bg/bg.jpg');

  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1.6;
}

body.dark {
  background-image: url('../images/bg/bg-dark.jpg');
}

.heading {
  position: relative;

  grid-row: 7 / 7;
  grid-column: 2 / span 7;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 7.5rem;
  margin-left: $logo-margin-left;
  padding: 1rem 0;

  z-index: 1;

  @include respond(tab-land2) {
    margin-top: 5.5rem;
  }

  @include respond(tab-land) {
    grid-column: 2 / span 7;
    grid-row: 4 / span 5;

    margin: 0;
  }

  @include respond(tab-port) {
    grid-row: 8 / 10;
    grid-column: 1 / -1;

    text-align: center;
  }

  @include respond(phone) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  &-primary {
    display: inline-block;

    font-size: clamp(7rem, 7vw, 13rem);

    background-image: url('../images/wave/wave.png');
    background-size: 773.91px 100%;
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;

    text-transform: uppercase;

    animation: wave linear 5.5s infinite;

    .dark & {
      background-image: url('../images/wave/wave2.png');

      transition: all 0.6s;
    }

    @include respond(big-desktop) {
      background-size: 773.91px 100%;
    }

    @include respond(tab-land2) {
      background-size: 773.91px 130px;
    }

    @include respond(tab-land) {
      background-size: 773.91px 100px;
    }

    @include respond(phone) {
      font-size: clamp(2rem, 8vw, 6rem);

      background-size: 386.96px clamp(4rem, 10vw, 6rem);
    }

    @include respond(nokia3310) {
      background-size: 386.96px clamp(3.2rem, 8vw, 4rem);
    }

    span {
      text-transform: capitalize;
      font-weight: 500;
    }

    &--rus {
      font-size: clamp(6.5rem, 6vw, 13rem);

      @include respond(big-desktop) {
        background-size: 773.91px 100%;
      }

      @include respond(tab-land2) {
        background-size: 773.91px 130px;
      }

      @include respond(tab-land) {
        background-size: 773.91px 100px;
      }

      @include respond(phone) {
        font-size: clamp(2rem, 8vw, 6rem);

        background-size: 386.96px clamp(4rem, 12vw, 7rem);
      }

      @include respond(nokia3310) {
        background-size: 386.96px 40px;
      }
    }
  }

  &-secondary {
    font-size: 2.8rem;
    font-weight: 500;

    line-height: 1.2;
    letter-spacing: 0.1rem;

    margin-left: 0.5rem;

    .dark & {
      color: $color-dark-4;
      transition: all 0.6s;
    }

    @include respond(tab-land2) {
      font-size: 2.5rem;

      margin-left: 0;
    }

    @include respond(tab-land) {
      font-size: 1.8rem;
    }

    @include respond(tab-port) {
      padding: 0;
    }

    @include respond(phone) {
      padding: 1rem 0;

      font-size: 1.2rem;
      text-align: center;
    }

    @include respond(nokia3310) {
      font-size: 1rem;
    }
  }
}

.heading-2 {
  display: grid;
  grid-template-columns: max-content 1fr;

  align-items: center;

  margin-bottom: 4rem;

  @include respond(tab-port) {
    grid-template-columns: max-content;
    justify-content: center;

    margin-bottom: 2rem;
  }

  @include respond(phone) {
    margin: 1rem 0 0 0;
  }

  &__title {
    font-size: 10.5rem;
    font-weight: 600;
    line-height: 1;

    padding-right: 4rem;

    .dark & {
      color: $color-dark-4;
      transition: all 0.4s ease-in-out;
    }

    @include respond(tab-land) {
      font-size: 8rem;
    }

    @include respond(tab-port) {
      font-size: 6rem;
      margin-bottom: 1.5rem;
      padding-right: 0;
    }

    @include respond(phone) {
      font-size: clamp(1.7rem, 6.5vw, 6rem);
      margin-bottom: 0.5rem;
    }
  }

  &__line {
    max-width: 100%;
    height: 0.2rem;

    margin-top: 2.5rem;

    background-color: $color-black;

    .dark & {
      background-color: $color-dark-4;
      transition: all 0.4s ease-in-out;
    }

    @include respond(tab-land) {
      margin-top: 0;
    }
  }
}
